HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### React Native ###
FinlogApp/node_modules/
FinlogApp/.expo/
FinlogApp/dist/
FinlogApp/.expo-shared/
FinlogApp/*.log
FinlogApp/.DS_Store
FinlogApp/android/app/build/
FinlogApp/android/.gradle/
FinlogApp/ios/build/
FinlogApp/ios/Pods/
FinlogApp/ios/*.xcworkspace/xcuserdata/
